    <div class="columns">
        <div class="column is-full border mb-2 has-background-light">
            <div class="columns">
                <img class="column is-2 ml-3 borderRight" src="{{picture_url}}" alt="Item Image" style="width: 200px; height: 200px;">
                <div id="" class="column is-2 borderRight">
                    <p class='id' id='id-{{id}}'>{{id}} </p>
                    <p><strong>Title:</strong> {{title}} </p>
                    <p><strong>Price:</strong> {{price}}</p>
                    <p><strong>Shipping:</strong> {{shipping}}</p>
                </div>
                <div class="column is-6 borderRight">
                    <p><strong>Description:</strong></p>
                    <p>{{description}}</p>
                </div>