<!--Header/Navbar-->
    <nav class="navbar has-background-light mb-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img src="/images/marketplace placeholder.png" alt="Full Stack Marketplace Logo" style="width: 300px; height: 100px;">            
        </div>    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a href="/" id="sign-up" class="button is-info">
                <strong>Home</strong>
                </a>
            </div>
            </div>
        </div>
        </div>
    </nav>

    <!-- Body/Login -->
    <!-- sign in form -->
    <form id="login-form" class="pl-5 p-2 has-background-light">
        <textarea id="email-login" class="textAreaLogin" cols="30" rows="1" placeholder="Email:">{{email}}</textarea>
        <br>
        <textarea id="password-login" class="textAreaLogin passwordProtection" cols="30" rows="1" placeholder="Password:">{{password}}</textarea>
        <div class="buttons">
            <button id="login-btn" class="button is-info">
            Login
            </button>
        </div>
    </form>
    <!-- sign up form -->
    <form id="signup-form" class="pl-5 p-2 has-background-light">
        <textarea id="username-signup" class="textAreaLogin" cols="30" rows="1" placeholder="Username:">{{username}}</textarea>
        <br>
        <textarea id="email-signup" class="textAreaLogin" cols="30" rows="1" placeholder="Email:">{{email}}</textarea>
        <br>
        <textarea id="password-signup" class="textAreaLogin passwordProtection" cols="30" rows="1" placeholder="Password:">{{password}}</textarea>
        <div class="buttons">
            <button id="signup-btn" class="button is-info">
            Sign Up
            </button>
        </div>
    </form>

<script src="/javascript/login.js"></script>