<article class="post">
    <div class="title">
        <a href="{{post.title}}" target="_blank">{{post.title}}</a>
    </div>
    <div class="price">
        <a href="{{post.price}}" target="_blank">{{post.price}}</a>
    </div>
    <div class="info">
        <a href="{{post.info}}" target="_blank">{{post.info}}</a>
    </div>
    <div class="shipping">
        <a href="{{post.shipping}}" target="_blank">{{post.shipping}}</a>
    </div>
</article>
